.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

es-dist
pids
logs
results

npm-debug.log
node_modules
test_results

### SublimeText ###
# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

*.codekit
*.sass-cache
src/bower_components

.idea/
