<header class="page-header">
	<h2 class="page-title">Event Stream '{{ streamId }}'</h2>
    <ul class="page-nav">
        <li class="page-nav__item">
            <a ng-class="{highlight: isPolling == false}" ng-click="togglePause()" ng-show="headOfStream">{{ isPolling == true ? 'Pause' : 'Resume' }}</a>
        </li>
        <li class="page-nav__item">
            <a ui-sref=".acl" ng-show="streamId !== '$all' && isAdmin">Edit ACL</a>
        </li>
        <li class="page-nav__item">
            <a ui-sref=".addStreamEvent" ng-show="streamId.indexOf('$') !== 0">Add Event</a>
        </li>
        <li class="page-nav__item">
            <a ng-click="deleteStream()">Delete</a>
        </li>
        <li ng-if="projectionsEnabled" class="page-nav__item">
            <a ui-sref="query({ initStreamId: streamId })">Query</a>
        </li>
        <li class="page-nav__item">
            <a ui-sref="subscriptions.list" ng-show="source == 'persistentSubscriptions'">Back</a>
            <a ui-sref="^.list" ng-show="source == undefined">Back</a>
        </li>


    </ul>
</header>
<ul style="list-style-type: none; padding:0 0 0.75rem 0 !important">
		<li class="page-nav__item" ng-repeat="link in links">
			<a ng-href="{{link.uri}}"> {{ link.relation }}</a>
			<!-- <a ui-sref="^.navigation(link.param)">{{ link.relation }}</a> -->
		</li>
	</ul>
    <br />

<div ui-view es-link-header></div>
