
<header class="page-header">
	<h2 class="page-title">
		{{ evt.title }} <small ng-if="isNotTheSame">Link from {{ evt.positionEventNumber + '@' + evt.positionStreamId }}</small>		
	</h2>
	<ul class="page-nav">
		<li class="page-nav__item">
			<a ng-if="evt" ui-sref="^.addStreamEvent({ fromEvent: evt })">Add New Like This</a>
		</li>
		<li class="page-nav__item">
			<a ui-sref="^.events">Back</a>
		</li>
	</ul>
</header>

<ul class="page-nav" style="padding:0rem 0rem 2rem 0rem !important">
	<li class="page-nav__item">
		<button ng-disabled="!prev" ui-sref=".({streamId: evt.streamId, eventNumber: evt.positionEventNumber - 1})">prev</button>
	</li>
	<li class="page-nav__item">
		<button ng-disabled="!next" ui-sref=".({streamId: evt.streamId, eventNumber: evt.positionEventNumber + 1})">next</button>
   </li>
</ul>
<br/>
<table>
	<thead>
		<tr>
			<th>No</th>
			<th>Stream</th>
			<th>Type</th>
			<th>Timestamp</th>
		</tr>
	</thead>
	<tbody ng-hide="hasEvent">
		<tr>
			<td colspan="5">
				<em>Event does not exist for stream: {{streamId}}
			</td>
		</tr>
	</tbody>
	
	<tbody ng-show="hasEvent">
		<tr>
			<td>{{ evt.eventNumber }}</td>
			<td><a ui-sref="^.events({streamId: evt.streamId})">{{ evt.streamId }}</a></td>
			<td>{{ evt.eventType }}</td>
			<td>{{ evt.updated | date:'yyyy-MM-dd HH:mm:ss'}}</td>
		</tr>
		<tr ng-if="evt.isJson || evt.isMetaData || evt.isLinkMetaData">
			<td colspan="4">
				<div ng-if="evt.isJson">
				<strong>Data</strong><pre>
{{ evt.data }}
				</pre>
				</div>
				<div ng-if="evt.isMetaData">
				<strong>Metadata</strong><pre>
{{ evt.metaData }}
				</pre>				
				</div>
				<div ng-if="evt.isLinkMetaData">
				<strong>Link metadata</strong><pre>
{{ evt.content.linkMetaData }}
				</pre>					
				</div>
			</td>
		</tr>
	</tbody>
	<thead ng-show="hasEvent">
		<tr>
			<th colspan="4">Internal data</th>
		</tr>
	</thead>
	<tbody ng-show="hasEvent">
		<tr>
			<td>EventId</td>
			<td colspan="3">{{ evt.eventId }}</td>
		</tr>
	</tbody>
</table>

