
	<header class="site-header">
		<h1 class="site-title">
			<a href="#">
				<img src="images/logo.svg" height="29" width="119" alt="Event Store">
			</a>
		</h1>
		<ul class="site-nav">
			<li class="site-nav__item" ng-class="{'site-nav__item--active': $state.includes('dashboard') }">
				<a ui-sref="dashboard.list">Dashboard</a>
			</li>
			<li ng-if="!singleNode" class="site-nav__item" ng-class="{'site-nav__item--active': $state.includes('clusterstatus') }">
				<a ui-sref="clusterstatus.list">Cluster Status</a>
			</li>
			<li class="site-nav__item" ng-class="{'site-nav__item--active': $state.includes('streams') }">
				<a ui-sref="streams.list">Stream Browser</a>
			</li>
			<li class="site-nav__item" ng-class="{'site-nav__item--active': $state.includes('projections') }" title="{{!isAdmin ? notAdminMessage : !projectionsAllowed ? projectionsNotRunningMessage : ''}}">
				<a ng-class="{'disabled': !projectionsAllowed || !isAdmin}" ui-sref="projections.list">Projections</a>
			</li>
			<li class="site-nav__item" ng-class="{'site-nav__item--active': $state.includes('query') }" title="{{!projectionsAllowed ? projectionsNotRunningMessage : ''}}">
				<a ng-class="{'disabled':!projectionsAllowed}" ui-sref="query">Query</a>
			</li>
			<li class="site-nav__item" ng-class="{'site-nav__item--active': $state.includes('competing') }" title="{{!isAdmin ? notAdminMessage : ''}}">
				<a ng-class="{'disabled': !isAdmin}" ui-sref="subscriptions.list">Competing Consumers</a>
			</li>
			<li class="site-nav__item" ng-class="{'site-nav__item--active': $state.includes('admin') }" title="{{!isAdmin ? notAdminMessage : ''}}">
				<a ng-class="{'disabled': !isAdmin}" ui-sref="admin">Admin</a>
			</li>
			<li class="site-nav__item" ng-class="{'site-nav__item--active': $state.includes('users') }" title="{{!isAdmin ? notAdminMessage : ''}}">
				<a ng-class="{'disabled': !isAdmin}" ui-sref="users.list">Users</a>
			</li>
			<li class="site-nav__item" ng-class="{'site-nav__item--active': $state.includes('signout') }">
				<a ui-sref="signout">Log Out</a>
			</li>
		</ul>
	</header>

	<main class="site-main">
		<div ui-view></div>
	</main>

	<footer class="site-footer">
		<p>Event Store {{ esVersion }} &middot; <a href="http://geteventstore.com/docs/" target="_blank">Documentation</a> &middot; <a href="http://geteventstore.com/support/" target="_blank">Support</a></p>
	</footer>