
		<header class="page-header">
			<h2 class="page-title">Query</h2>
			<ul class="page-nav">
				<li class="page-nav__item"><a href="#">Run</a></li>
				<li class="page-nav__item"><a href="#">Break</a></li>
				<li class="page-nav__item"><a href="#">Debug</a></li>
			</ul>
		</header>
		<div class="container">
			<div class="container-left">
				<h3 class="block-title">Source</h3>
				<div ui-ace="aceConfig" ng-model="query"></div>
				
			</div>
			<div class="container-right">
				<h3 class="block-title">State</h3>
				<textarea class="code-half code-read-only">Text</textarea>
			</div>
		</div>