<header class="page-header">
    <h2 class="page-title">Admin</h2>
    <ul class="page-nav">
        <li class="page-nav__item">
            <a href="#" ng-click="shutdown($event)">Shutdown Server</a>
        </li>
        <li class="page-nav__item">
            <a href="#" ng-click="scavenge($event)">Scavenge</a>
        </li>
    </ul>
</header>
<div class="container">
    <div class="container-left">
        <table>
            <thead>
                <tr>
                    <th>Enabled Sub Systems</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subSystem in subSystems">
                    <td>
                        {{ subSystem }}
                    </td>
                </tr>
                <tr ng-hide="subSystems">
                    <td>
                        <em>No sub systems are running.</em>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container-right">
        <table>
            <thead>
                <tr>
                    <th>Scavenge</th>
                    <th>Started</th>
                    <th>Completed</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-hide="scavengeHistory.length > 0">
                    <td colspan="4">
                        <em>No scavenges have been run.</em>
                    </td>
                </tr>
                <tr ng-repeat="history in scavengeHistory track by history.scavengeId | orderBy : 'startTime'">
                    <td><a ui-sref="scavenge({scavengeId: history.scavengeId, page: 0, from: 0})">{{history.nodeEndpoint}}
                        <br />{{history.scavengeId}}</a></td>
                    <td>{{history.startTime | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>
                        <span ng-show="history.endTime">{{history.endTime | date:'yyyy-MM-dd HH:mm'}}</span><span ng-hide="history.endTime"><em>Not Finished</em>
                        </span>
                    </td>
                    <td>
                        <span ng-show="history.result">{{history.result}}</span>
                        <span ng-hide="history.result" class="page-nav__item">
                            <a ui-sref="#" ng-click="stopScavenge($event, history)">Cancel</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <span class="note--warning">
            If the progress of your scavenge(s) does not appear to be updating, this might indicate that there was an issue writing the status to disk. Please consult your logs.
        </span>
        <ul class="page-nav">
            <li class="page-nav__item">
                <a href="#/streams/$scavenges">Scavenge History</button>
            </li>
        </ul>
    </div>
</div>
