

<header class="page-header">
		<h2 class="page-title">Projection Edit</h2>
		<ul class="page-nav">
			<li class="page-nav__item">
				<button ng-click="start()" 
					ng-disabled="isRunning"
					href="#">Start</button>
				
			</li>
			<li class="page-nav__item">
				<button ng-click="stop()" 
				   ng-disabled="isStopped"
				   >Stop</button>
				
			</li>
			<li class="page-nav__item">
				<button ng-click="save()" 
				   >Save</button>
				
			</li>
			<li class="page-nav__item">
				<button ng-click="reset($event)">Reset</button>
			</li>
			<li class="page-nav__item" ng-hide="maximized">
				<button ng-click="maximized = true">Maximize</button>
			</li>
			<li class="page-nav__item" ng-show="maximized">
				<button ng-click="maximized = false">Minimize</button>
			</li>
			<li class="page-nav__item">
			<a ui-sref="^.details">Back</a>
			</li>
		</ul>
	</header>

<h3>
{{stats.name}} - {{stats.status}}
</h3>

<p ng-hide="maximized">
	<strong>mode: </strong><span>{{stats.mode}}</span>
</p>

<p style="background-color: red; color: white" ng-if="stats.stateReason">

{{stats.stateReason}}

</p>

<div class="container">
	<div class="edit-projection" ng-class="{ 'container-left': !maximized, maximized: maximized }">
		<h3 class="block-title" ng-hide="maximized">Source</h3>
		<div ui-ace="aceConfig" ng-model="query">
		</div>
		<label><input type="checkbox" ng-model="emit">Emit enabled</label>
	</div>
	<div ng-hide="maximized" class="container-right">
		<table>
			<thead>
				<tr>
					<th colspan="2">
						Results
						<span ng-show="stream">
										(<a ui-sref="streams.item.events({streamId: stream})">{{ stream }}</a>)
						</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="2">
						<pre>{{result | json}}</pre>
					</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th colspan="2">
						State
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="2">
						<input type="text" ng-model="partition" ng-change="clearState()" placeholder="partition"></input>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<pre>{{state | json}}</pre>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
