<header class="page-header">
		<h2 class="page-title">Projection Configuration</h2>
		<ul class="page-nav">
			<li class="page-nav__item">
				<button ng-click="save()" 
				   >Save</button>
			</li>
			<li class="page-nav__item">
			<a ui-sref="^.details">Back</a>
			</li>
		</ul>
	</header>
<h3>
{{stats.name}} - {{stats.status}}
</h3>
<p>
	<strong>mode: </strong><span>{{stats.mode}}</span>
</p>
<p style="background-color: red; color: white" ng-if="stats.stateReason">
{{stats.stateReason}}
</p>

<table>
	<tbody>
        <tr class="table-subheading">
            <td colspan="2">Projection Configuration</td>
        </tr>
		<tr>
			<td>Emit Enabled</td>
			<td>
				<input type="checkbox" ng-model="config.emitEnabled" required class="form-table" name="emit" />
			</td>
		</tr>
		<tr>
			<td>Track Emitted Streams</td>
			<td>
				<input type="checkbox" ng-model="config.trackEmittedStreams" required class="form-table" name="trackEmittedStreams" />
			</td>
		</tr>
		<tr>
			<td>Checkpoint After (ms)</td>
			<td>
				<input type="text" ng-model="config.checkpointAfterMs" required class="form-table" name="checkpointAfterMs" />
			</td>
		</tr>
		<tr>
			<td>Checkpoint Handled Threshold</td>
			<td>
				<input type="text" ng-model="config.checkpointHandledThreshold" required class="form-table" name="checkpointHandledThreshold" />
			</td>
		</tr>
		<tr>
			<td>Checkpoint Unhandled Threshold (bytes)</td>
			<td>
				<input type="text" ng-model="config.checkpointUnhandledBytesThreshold" required class="form-table" name="checkpointUnhandledBytesThreshold" />
			</td>
		</tr>
		<tr>
			<td>Pending Events Threshold</td>
			<td>
				<input type="text" ng-model="config.pendingEventsThreshold" required class="form-table" name="pendingEventsThreshold" />
			</td>
		</tr>
		<tr>
			<td>Max Write Batch Length</td>
			<td>
				<input type="text" ng-model="config.maxWriteBatchLength" required class="form-table" name="maxWriteBatchLength" />
			</td>
		</tr>
		<tr>
			<td>Maximum Number Of Allowed Writes In Flight</td>
			<td>
				<input type="text" ng-model="config.maxAllowedWritesInFlight" required class="form-table" name="maxAllowedWritesInFlight" />
			</td>
		</tr>
		<tr>
			<td>Per Event Projection Processing Timeout</td>
			<td>
				<input type="text" ng-model="config.projectionExecutionTimeout" required class="form-table" name="projectionExecutionTimeout" />
			</td>
		</tr>
	</tbody>
</table>
