
		<header class="page-header">
			<h2 class="page-title">Query</h2>
			<ul class="page-nav">
				<li class="page-nav__item">
					<button ng-click="run()">Run</button>
				</li>
				<li class="page-nav__item">
					<button ng-click="stop()" ng-disabled="disableStop()">Break</button>
				</li>
				<li class="page-nav__item">
					<button ng-click="debug()" ng-disabled="!isCreated">Debug</button>
				</li>
				<li class="page-nav__item" ng-hide="maximized">
					<button ng-click="maximized = true">Maximize</button>
				</li>
				<li class="page-nav__item" ng-show="maximized">
					<button ng-click="maximized = false">Minimize</button>
				</li>
			</ul>
		</header>

		<h3 ng-visible="status">
			{{status}}<br/>
		</h3>
		<i>{{stateReason}}</i>

		<div class="container">
			<div class="edit-projection" ng-class=" { 'container-left': !maximized, maximized: maximized }">
				<h3 class="block-title">Source</h3>
				<div ui-ace="aceConfig" ng-model="query"></div>
				
			</div>
			<div ng-hide="maximized" class="container-right">
				<h3 class="block-title">State</h3>
		<pre ng-if="state !== undefined && isStopped">
{{state | json}}
		</pre>
			</div>
		</div>
