// Variables

$black:	       #435261;
$blue:         #009CDB;
$green:        #5AB552;
$green-dark:   #2E9625;
$grey:         #727470;
$grey-dark:    #525450;
$grey-light:   #E2E4E0;
$grey-mid:     #A2A4A0;
$red:          #E22430;
$red-dark:     darken($red, 45%);
$red-light:    lighten($red, 45%);
$white:	       #FFFFFF;
$white-off:    #F2F4F0;
$yellow:       #CDD939;
$yellow-light: #FCFCCF;
$baby-blue: #EEF3FF;
$dark-baby-blue: #BBCFFF;
$dark-blue: #00216F;
$pale-yellow: #FFF6CA;
$dark-pale-yellow: #FFED97;
$dark-yellow: #4B3E00;


$sans-serif: Roboto, sans-serif;
$monospace: "Source Code Pro", monospace;

@import "fonts";
@import "base";

@import "page-login";

@import "module-siteheader";
@import "module-sitemain";
@import "module-sitefooter";

// Icons required:
// - Expand table rows
// - Collapse table rows