<div ui-view>
<header class="page-header">
		<h2 class="page-title">User Details {{ user.loginName }}</h2>
		<ul class="page-nav">

			<li class="page-nav__item">
				<a ui-sref="^.edit">Edit</a>
			</li>
			<li class="page-nav__item">
				<a ui-sref="^.delete">Delete</a>
			</li>
			<li class="page-nav__item" ng-hide="user.disabled">
				<a ui-sref="^.disable">Disable</a>
			</li>
			<li class="page-nav__item" ng-show="user.disabled">
				<a ui-sref="^.enable">Enable</a>
			</li>
			<li class="page-nav__item">
				<a ui-sref="^.reset">Password Reset</a>
			</li>
			<li class="page-nav__item">
				<a ui-sref="^.^.list">Back</a>
			</li>
		</ul>
	</header>
</div>
<div>
<table>
	<tr>
		<th>Fields</th>
		<th>Values</th>
	</tr>
	<tr>
		<td>Login Name</td>
		<td>{{ user.loginName }}</td>
	</tr>
	<tr>
		<td>Full Name</td>
		<td>{{ user.fullName }}</td>
	</tr>
	<tr>
		<td>Groups</td>
		<td><ul ng-repeat="group in user.groups"><li>{{ group }}</li></ul></td>
	</tr>
	<tr>
		<td>Disabled</td>
		<td>{{ user.disabled }}</td>
	</tr>
	<tr>
		<td>API Links</td>
		<td>
			<ul ng-repeat="userData in user.links">
				<li> <b>Link</b> - <a href="{{userData.href}}" target="_blank">{{ userData.href }}</a>  </li>
				<li> <b>Rel</b> - {{userData.rel}}</li>
			</ul>
		</td>
	</tr>
</table>
</div>
