<header class="page-header">
    <h2 class="page-title">Dashboard</h2>
    <ul class="page-nav">
        <li class="page-nav__item">
            <a ui-sref="^.new">New Subscription</a>
        </li>
    </ul>
</header>
<table class="table-subscriptions">
    <thead>
        <tr>
            <th>Stream/Group(s)</th>
            <th>Rate (messages/s)</th>
            <th colspan="3">Messages</th>
            <th>Connections</th>
            <th>
                Status<br/>
                # of msgs / estimated time to catchup in seconds
            </th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th class="table-subheading">Last Known</th>
            <th class="table-subheading">Checkpoint</th>
            <th class="table-subheading"># in Flight</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-repeat="(key, prop) in subscriptions track by key">
        <!-- Case - group header -->
        <tr ng-if="prop.groups" class="table-subheading" style="cursor: pointer;" es-subscription-row-header es-subscription="prop">
        </tr>

        <!-- Case - normal row -->
        <tr ng-if="!prop.groups" es-subscription-row es-subscription="prop">
        </tr>
        <!-- Case - in current group -->
        
        <tr ng-show="prop.show" ng-repeat="item in prop.groups" class="table-indentedrow" es-subscription-row es-subscription="item">
        </tr>
    </tbody>
    <tbody ng-hide="subscriptions">
        <tr>
            <td colspan="8">
                <em>No subscriptions</em>
            </td>
        </tr>
    </tbody>
</table>
