
<header class="page-header">
	<h2 class="page-title">Subscriptions</h2>
	<ul class="page-nav">
	</ul>
</header>

<table class="table-subscriptions">
	<thead>
		<tr>
			<th>Stream Name</th>
			<th>Group Name</th>
			<th>Rate (items/s)</th>
			<th>Total Items Processed</th>
			<th>Last Processed Event Number</th>
			<th>Last Known Event Number</th>
			<th>No. of Connections</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody ng-repeat="(key, prop) in subscriptions track by key">
		<tr>
			<td>{{ prop.eventStreamId }}</td>
			<td>{{ prop.groupName }}</td>
			<td>{{ prop.averageItemsPerSecond }}</td>
			<td>{{ prop.totalItemsProcessed }}</td>
			<td>{{ prop.lastProcessedEventNumber }}</td>
			<td>{{ prop.lastKnownEventNumber }}</td>
			<td>{{ prop.connectionCount }}</td>
			<td>{{ prop.status }}</td>
			<td>
				<a ng-repeat="link in prop.links" ui-sref="^.item.detail({streamId: prop.eventStreamId})">{{ link.rel }}</a>
			</td>
		</tr>
	</tbody>
	<tbody ng-hide="subscriptions">
		<tr>
			<td colspan="8">
				<em>No subscriptions</em>
			</td>
		</tr>
	</tbody>
</table>