<div class="container">
	<div class="container-left">
		<table>
			<thead>
				<tr>
					<th>Subscription Details</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="container-right">
		<table>
			<thead>
				<tr>
					<th>Configuration</th>
				</tr>
			</thead>
			<thead>
				<tr>
					<th>Buffer Size</th>
					<th>Check Point After</th>
					<th>Extra Statistics</th>
					<th>Live Buffer Size</th>
					<th>Max Checkpoint Count</th>
					<th>Max Retry Count</th>
					<th>Message Timeout (ms)</th>
					<th>Min Checkpoint Count</th>
					<th>Prefer Round Robin</th>
					<th>Read Batch Size</th>
					<th>Resolve Link tos</th>
					<th>Start From Event</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ detail.config.bufferSize }}</td>
					<td>{{ detail.config.checkPointAfterMilliseconds }}</td>
					<td>{{ detail.config.extraStatistics }}</td>
					<td>{{ detail.config.liveBufferSize }}</td>
					<td>{{ detail.config.maxCheckPointCount }}</td>
					<td>{{ detail.config.maxRetryCount }}</td>
					<td>{{ detail.config.messageTimeoutMilliseconds }}</td>
					<td>{{ detail.config.minCheckPointCount }}</td>
					<td>{{ detail.config.preferRoundRobin }}</td>
					<td>{{ detail.config.readBatchSize }}</td>
					<td>{{ detail.config.resolveLinktos }}</td>
					<td>{{ detail.config.startFrom }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
