<header class="page-header">
	<h2 class="page-title">View Parked Messages - {{streamId}}::{{groupName}}</h2>
	<ul class="page-nav">
		<li class="page-nav__item">
			<a ui-sref="^.^.list">Back</a>
		</li>
	</ul>
	
</header>
<ul style="list-style-type: none; padding:0 0 0.75rem 0 !important">
	<li class="page-nav__item"> 
		<a ng-click="pageFirst(entries)" >First</a> 
		<a ng-click="pageBackward(entries)">Next</a> 
		<a ng-click="pageForward(entries)">Previous</a> 
	</li> 
</ul>
</br>
<table>
	<thead>
		<tr><th>Event #</th><th>Name</th><th>Type</th><th>Created Date</th><th></th></tr>
	</thead>
	<tbody ng-repeat="event in entries track by event.positionEventNumber">
		<tr ng-class="{ 'invalid': !event.streamId }"> 
			<td>{{ event.positionEventNumber }}</td> 
			<td>{{ event.title }}</td><td>{{ event.eventType }}</td> 
			<td>{{ event.updated | date:'yyyy-MM-dd HH:mm:ss'}}</td> 
			<td><a ng-click="toggleJson($event, event)" style="cursor: pointer;" ng-if="event.isJson || event.isLinkMetaData || event.isMetaData">JSON</a></td> 
		</tr>
		<tr ng-show=event.showJson> 
			<td colspan=5>
				<div ng-if=event.isJson>
					<strong>Data</strong><pre>{{ event.data }}</pre>
				</div>
				<div ng-if=event.metaData>
					<strong>Metadata</strong><pre>{{ event.metaData }}</pre>
				</div>
				<div ng-if=event.isLinkMetaData>
					<strong>Link metadata</strong><pre>{{ event.linkMetaData }}</pre>
				</div>
			</td>
		</tr>
	</tbody>

	<tbody ng-if="entries.length < 1">
	<tr>
		<td colspan="5">
			<em>No parked events for current path: {{ $stateParams | json }}
		</td>
	</tr>
	</tbody>
</table>